	
	body {
		background-image: url(./assets/NY-background.jpg);
		background-size: cover;
	}

	#logo-container {
	    display: flex;
    	justify-content: center;
	}

	#logo {
		height: 90;
		width: 87;
	}
	
	div#container{
		display: flex;
		justify-content: center;
	}

	#loginButton {
		text-decoration: none;
		position: fixed;
		top: 50%;
		border: 1px solid;
		border-radius: 8px;
		padding:15px;
		background-image: radial-gradient(white,white,aqua, #7171f9);
	}
	#loginButton:hover{
		background-image: radial-gradient(white,white,#24dc37);
	}