#logo-container {
	height: 100px;
}
#logo {
	margin: 5px;
    height: 90;
    width: 87;
    top: 10px;
    left: 50%;
    position: fixed;
}
#galleryPic {
    display: block;
    width: 200px;
    height: 100px;
}
