body { 
    margin: 0; 
}

#logo-container {
	height: 100px;
    text-align: center;
}

#logo {
	margin: 5px;
    height: 90;
    width: 87;
    top: 10px;
}

#nav-bar-ul {
    list-style-type:none;
    background-color: #6c96d291;;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    min-height: 50px;
    padding-inline-start: 0;
}

#nav-bar-ul li {
    overflow: hidden;
    width: auto;
    box-shadow: -5px 0 0 -4px #3626a2, 5px 0 0 -4px #3626a2;
    width: 20%;
}

#nav-bar-ul a {
    font-family: Arial;
    font-size: 20px;
    color: #2b7adc !important;
    text-decoration: none;
    display: block;
    line-height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

#nav-bar-ul a:visited {
    color: initial;
}

#nav-bar-ul .nav-toggle-btn {
    display: none;
    cursor: pointer;
    padding: 10px;
    left: 0;
    position: absolute;
}

#nav-bar-ul a:hover {
    background-color: #f9f0f0f5;
}

#galleryPic {
    margin: 15px;
    display: block;
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 600px) {
    #nav-bar-ul li {
        display: none;
    }

    #nav-bar-ul .nav-toggle-btn {
        display: block;
    }

    #nav-bar-ul.responsive {
        flex-wrap: wrap;
        padding-inline-start: 50px;
    }

    #nav-bar-ul.responsive li {
        width: 100%;
        display: block;
        box-shadow: none;
    }
}

#imageContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
